<form>
  <div class="form-group">
    <div class="custom-file">
      <input type="file" accept=".mp3" class="custom-file-input" id="musicFile" [(ngModel)]="musicFile" name="musicFile" (change)="onMusicFileChange($event)" required>
      <label class="custom-file-label" for="musicFile">Choose music file</label>
    </div>
  </div>
  <div class="form-group">
    <div class="custom-file">
      <input type="file" accept=".json" class="custom-file-input" id="lyricsFile" [(ngModel)]="lyricsFile" name="lyricsFile" (change)="onLyricsFileChange($event)" required>
      <label class="custom-file-label" for="lyricsFile">Choose lyrics file</label>
    </div>
  </div>
</form>
<hr>
<kar-audio></kar-audio>
<kar-viewer></kar-viewer>
