<div *ngIf="lyricsService.lyrics" class="text-center" id="viewer-fullscreen" [ngStyle]="{'font-size': fontSize + 'em'}">
  <button class="btn btn-primary" (click)="audioService.toggle()" *ngIf="isFullscreen" [ngbTooltip]="audioService.audio.paused ? 'Play' : 'Pause'">
    <svg class="icon">
      <use xlink:href="assets/icons.svg#play" *ngIf="audioService.audio.paused"></use>
      <use xlink:href="assets/icons.svg#pause" *ngIf="!audioService.audio.paused"></use>
    </svg>
  </button>
  <button class="btn btn-primary" (click)="bigger()" ngbTooltip="Increase the font size">
    <svg class="icon">
      <use xlink:href="assets/icons.svg#zoom-in"></use>
    </svg>
  </button>
  <button class="btn btn-primary" (click)="smaller()" ngbTooltip="Decrease the font size">
    <svg class="icon">
      <use xlink:href="assets/icons.svg#zoom-out"></use>
    </svg>
  </button>
  <button class="btn btn-primary" (click)="fullscreen()" [ngbTooltip]="isFullscreen ? 'Exit fullscreen' : 'Fullscreen'">
    <svg class="icon">
      <use xlink:href="assets/icons.svg#shrink" *ngIf="isFullscreen"></use>
      <use xlink:href="assets/icons.svg#enlarge" *ngIf="!isFullscreen"></use>
    </svg>
  </button>
  <button class="btn btn-danger" (click)="reset()" *ngIf="!isFullscreen" ngbTooltip="Close the lyrics file">
    <svg class="icon">
      <use xlink:href="assets/icons.svg#cross"></use>
    </svg>
  </button>
  <ng-container *ngFor="let line of lyricsService.lyrics.lines">
    <div *ngIf="elapsed > line.start - 1 && elapsed < line.stop" class="text-secondary">
      <ng-container *ngIf="line.words">
        <span *ngFor="let word of line.words" class="mr-2" [class.text-primary]="elapsed > word.start && elapsed < word.stop">{{ word.text }}</span>
      </ng-container>
      <span *ngIf="!line.words" [class.text-primary]="elapsed > line.start">{{ line.text }}</span>
    </div>
  </ng-container>
</div>
<div class="p-3" *ngIf="!lyricsService.lyrics">
  <div class="custom-file">
    <input type="file" accept=".json" class="custom-file-input" id="lyricsFile" [(ngModel)]="lyricsFile" name="lyricsFile" (change)="onLyricsFileChange($event)" required>
    <label class="custom-file-label" for="lyricsFile">Choose lyrics file</label>
  </div>
</div>
